.panel {
    border: 1px solid #888;
    border-radius: 2px;
    padding: 0;
    margin-bottom: 10px;
}

.panel-header {
    background: #007bff;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 1px 1px #000;
    transition: background-color 0.2s linear;
}

.panel-body {
    padding: 10px;
}

.panel-controls {
    padding: 5px;
    text-align: right;
}

.panel-controls button {
    margin-right: 5px;
}

button {
    margin-right: 5px;
}